:root {
   --bg-body-color: #f4f5ff;
   --app-primary-color: #34495e;
   --app-primary-dark-color: #1e2f41;
}

body {
   background-color: var(--bg-body-color);
}

.app-navigation {
   background-color: var(--app-primary-color);
}

.mb0 { margin-bottom: 0; }
.mb15 { margin-bottom: 15px; }
.mb25 { margin-bottom: 25px; }
.mb40 { margin-bottom: 40px; }

@media screen and (min-width: 768px) {
   .row-flex {
      display: flex;
      align-items: center;
   }
}

.img-fit-contain {
   object-fit: contain;
}

/* .btn-godetail {
   background-color: var(--app-primary-color);
   text-transform: capitalize;
   font-size: 12px;
   height: 24px;
   padding: 0 10px;
   line-height: 24px;
}
.btn-godetail:hover {
   background-color: var(--app-primary-dark-color);
} */

.thead-klasemen {
   background-color: var(--app-primary-color);
}
.thead-klasemen > th {
   border-radius: 0 !important;
}
.klasemen-list tbody .name-club {
   margin: 0;
   text-align: left;
}

.card-club-customized {
   display: block;
}
.card-club-customized .card-image {
   padding: 12px 17px;
}
.card-club-customized .card-content {
   padding: 10px 17px;
   text-align: center;
}
.card-club-customized .card-content .club-name {
   color: var(--app-primary-color);
   font-weight: 600;
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
}
.card-club-customized .card-content .club-area {
   font-weight: 400;
   font-size: 14px;
   color: var(--app-primary-color);
}
.card-club-customized:hover .card-content .club-name {
   text-decoration: underline;
}
.card-club-customized:hover .card-content .club-area {
   text-decoration: none;
}

.club-detail .head-content {
   background-color: var(--app-primary-color);
   margin: -24px -24px 0 -24px;
   padding: 15px 24px;
}

.club-detail .head-content .title-club {
   margin: 0;
   text-align: center;
}

.squad-player {
   border: 1px solid #e0e0e0;
   margin-bottom: 20px;
   padding: 12px;
}
.squad-player .position {
   margin-bottom: 6px;
}
.squad-player .info {
   display: flex;
   align-items: center;
}
.squad-player .info .shirt-number {
   margin-right: 10px;
   font-size: 30px;
   font-weight: 400;
   color: #fff;
   background-color: var(--app-primary-color);
   padding: 3px 7px;
   border-radius: 4px;
}
.squad-player .info .info-player > span {
   display: block;
}
.squad-player .info .info-player > .name {
   font-size: 18px;
   font-weight: 500;
}

.card-pertandingan .card-content {
   padding: 0 20px;
}
.card-pertandingan .card-content span { display: block; color: #fff; }
.card-pertandingan .card-content .info-score {
   text-align: center;
   background-color: var(--app-primary-color);
   padding: 5px;
   border-radius: 0;
}
.card-pertandingan .home-team {
   text-align: right;
}
.card-pertandingan .away-team {
   text-align: left;
}
.card-pertandingan .home-team,
.card-pertandingan .away-team {
   font-size: 18px;
   font-weight: 600;
}
.card-pertandingan .card-content .score {
   font-size: 33px;
   font-weight: 600;
   color: #fff;
}
.card-pertandingan .card-content .date {
   font-size: 14px;
}
.card-pertandingan .card-content .time {
   font-size: 14px;
}

/* Loader */
.loader-page {
   margin: 60px 0;
}
.loader-page > .preloader-wrapper.is-centered {
   margin: 0 auto;
   display: block;
}
.loader-page > .preloader-wrapper .spinner-customized {
   border-color: var(--app-primary-color);
}